@{
    ViewBag.Title = "CRM System";
}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/libs/highcharts.src.js"></script>
<script src="~/Scripts/libs/highcharts-ng.js"></script>
<script src="~/Scripts/angular-ui-router.js"></script>
<script src="~/Scripts/angular-resource.js"></script>
<script src="~/Scripts/app/app.js"></script>
<script src="~/Scripts/app/clientServcie.js"></script>
<script src="~/Scripts/app/crmController.js"></script>
<script src="~/Scripts/jqueryScripts/main.js"></script>

<div style="margin-top: 30px;">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active" name="tabs" id="main">
            <a href="#" ui-sref="main" ng-click="getMainInfo()" aria-controls="main" role="tab" data-toggle="tab">Главная</a>
        </li>
        <li role="presentation" name="tabs" id="planning">
            <a href="#" ui-sref="planning" ng-click="getPlanningInfo()" aria-controls="planning" role="tab" data-toggle="tab">Планирование</a>
        </li>
        <li role="presentation" name="tabs" id="clients">
            <a href="#" ui-sref="clients" ng-click="getClientsInfo()" aria-controls="clients" role="tab" data-toggle="tab">Наши клиенты</a>
        </li>
        <li role="presentation" name="tabs" id="suppliers">
            <a href="#" ui-sref="suppliers" ng-click="getSuppliersInfo()" aria-controls="suppliers" role="tab" data-toggle="tab">Наши поставщики</a>
        </li>
        <li role="presentation" name="tabs" id="archive">
            <a href="#" ui-sref="archive" ng-click="getArchiveInfo()" aria-controls="archive" role="tab" data-toggle="tab">Архив</a>
        </li>
        <li role="presentation" name="tabs" id="products">
            <a href="#" ui-sref="products" ng-click="getProductsInfo()" aria-controls="products" role="tab" data-toggle="tab">Товары</a>
        </li>
    </ul>
    <div class="tab-content" ui-view></div>
</div>